# Ailin
Ailin Anjadatter Tinglum <ailinat@stud.ntnu.no>
Ailin Tinglum <ailinat@stud.ntnu.no>
Ailin Tinglum <ailin@tinglum.no>

# Christian
Christian Sommer <chrsom@stud.ntnu.no>
Christian Sommer <chrsom@ntnu.no>
Christian Sommer <christiansommer02@gmail.com>

# Maren
Maren Nodenes-Fimland <marennod@stud.ntnu.no>
Maren Nodenes-Fimland <marennod@ntnu.no>
Maren Nodenes <marennod@stud.ntnu.no>
Maren Nodenes <marennod@ntnu.no>
Maren N-F <nfmaren@gmail.com>

# Marie
Marie Kolstad Røed <marieroe@stud.ntnu.no>
Marie Kolstad Roed <marieroe@ntnu.no>
Marie Kolstad Røed <marie@steinskogen.no>
Marie Røed <marieroe@stud.ntnu.no>
Marie Roed <marieroe@ntnu.no>

# Isa
Isa Marie Wisth <isamw@stud.ntnu.no>
Isa Marie Wisth <isamw@ntnu.no>
Isa Wisth <isamw@stud.ntnu.no>
Isa Wisth <isamw@ntnu.no>


# Sofie
Sofie Tessem Wang <sofietw@stud.ntnu.no>
Sofie Tessem Wang <sofietw@ntnu.no>
Sofie Wang <sofietw@stud.ntnu.no>
Sofie Wang <sofietw@ntnu.no>
Sofietw <sofie.t.wang@ntnu.no>

