#anchorPane {
    -fx-background-color: #bee7ed;
}

#card {
    -fx-background-color: #89b9bf;
    -fx-effect: dropshadow(gaussian, #5c7b80, 0, 1, 5, 5);
    -fx-border-width: 2;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

.textForTitles {
    -fx-fill: #5c7b80;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #5c7b80;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}

#nextButton, #previousButton {
    -fx-background-color: transparent;
}

.nameTag {
    -fx-fill: #5c7b80;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";

}

.nameField {
    -fx-fill: #5c7b80;
    -fx-font-size: 9.5;
    -fx-font-family: "Arial";
}

#progressBar {
    -fx-background-color: transparent;
    -fx-border-color: #5c7b80;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

#progressBar .track {
    -fx-background-color: white;
    -fx-background-radius: 3;
}

#progressBar .bar {
    -fx-background-color: #f4a261;
    -fx-background-radius: 3;
    -fx-background-insets: 1.5;
}

#nextText, #previousText {
    -fx-fill: white;
    -fx-font-size: 9;
    -fx-font-family: "Arial";
}