#anchorPane {
    -fx-background-color: #bee7ed;
}

#card {
    -fx-background-color: #89b9bf;
    -fx-effect: dropshadow(gaussian, #5c7b80, 0, 1, 5, 5);
    -fx-border-width: 2;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.textForTitles {
    -fx-fill: #5c7b80;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #5c7b80;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.username {
    -fx-fill: #5c7b80;
}

#progressBar {
    -fx-background-color: transparent;
    -fx-border-color: #5c7b80;
    -fx-border-width: 2;
    -fx-border-radius: 3;
}

#progressBar .track {
    -fx-background-color: white;
    -fx-background-radius: 3;
}

#progressBar .bar {
    -fx-background-color: #f4a261;
    -fx-background-radius: 3;
}