#anchorPane {
  -fx-background-color: #bee7ed;
}

.textForTitles {
  -fx-fill: #5c7b80;
  -fx-font-weight: bold;
  -fx-font-family: "Arial";
}

.text-field {
  -fx-background-color: white;
  -fx-border-color: #5c7b80;
  -fx-border-width: 2;
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-font-family: "Arial";
}

.button {
  -fx-background-color: #5c7b80;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 18;
  -fx-font-family: "Arial";
}

#signUpButton {
  -fx-font-size: 10;
}

#newUserText {
  -fx-font-size: 12;
}

.alerts {
  -fx-fill: #5c7b80;
  -fx-font-size: 14px;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
}

#ex {
  -fx-stroke: #ffffff;
  -fx-stroke-width: 2;
  -fx-fill: #f4a261;
  -fx-font-size: 22px;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
}

.nameTag {
  -fx-fill: #5c7b80;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-font-family: "Arial";
}

.password-field {
  -fx-font-size: 7pt;
  -fx-font-family: "Arial";
}
