#anchorPane {
    -fx-background-color: #bee7ed;
}

.create {
    -fx-background-color: #5c7b80;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.deck {
    -fx-effect: dropshadow(gaussian, #5c7b80, 0, 1, 5, 5);
    -fx-background-color: #89b9bf;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.deck:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.delete {
    -fx-background-color: #f4a261;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-border-width: 1.3;
    -fx-background-insets: 0;
    -fx-font-size: 7;
}

.delete:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.nameTag {
    -fx-fill: #5c7b80;
    -fx-font-size: 12;
    -fx-font-weight: bold;

}

.nameField {
    -fx-fill: #5c7b80;
    -fx-font-size: 9.5;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #5c7b80;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-background-radius: 3;
}

.textForTitles {
    -fx-fill: #5c7b80;
    -fx-font-weight: bold;
}

.alerts {
    -fx-fill: #5c7b80;
    -fx-font-size: 13;
}
